<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <h3>Lista de prestamos</h3>
            <a routerLink="/createPrestar"><button class="btn btn-success my-3">Agregar</button></a>
        </div>
    </div>

    <div class="row table-user">
        <table class="table table-hover my-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">UsuarioId</th>
                    <th scope="col">EjemplarId</th>
                    <th scope="col">fecha_dev</th>
                    <th scope="col">fecha_pres</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of prestar" class="table-light">
                    <td> {{ item.id}}</td>
                    <td> {{ item.UsuarioId}}</td>
                    <td> {{ item.EjemplarId}}</td>
                    <td> {{ item.fecha_dev}}</td>
                    <td> {{ item.fecha_pres}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>