<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="my-3">Crear Libros</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" formControlName="titulo" required>
        </div>
        <div class="mb-3">
            <label for="numero_pagina" class="form-label">Numero de pagina</label>
            <input type="text" class="form-control" id="numeropagina" formControlName="numeropagina" required>
        </div>
        <div class="mb-3">
            <label for="editorial" class="form-label">Editorial</label>
            <input type="text" class="form-control" id="editorial" formControlName="editorial" required>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">Isbn</label>
            <input type="text" class="form-control" id="isbn" formControlName="isbn" required>
        </div>
        <div class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" id="autor" formControlName="autor" required>
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
    </form>
</div>