<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="my-3">Crear Prestamo</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <input type="text" class="form-control" id="UsuarioId" aria-describedby="UsuarioId" formControlName="UsuarioId" required placeholder="UsuarioId">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="EjemplarId" formControlName="EjemplarId" required placeholder="EjemplarId">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="fecha_dev" formControlName="fecha_dev" required placeholder="Fecha de devolucion">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="fecha_pres" formControlName="fecha_pres" required placeholder="fecha de prestamo">
                </div>
                
                <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
