<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="my-3">Crear Usuario</h1>
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form [formGroup]="formulario" novalidate (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName="nombre" required placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="apellidos" formControlName="apellidos" required placeholder="Apellidos">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="direccion" formControlName="direccion" required placeholder="Direccion">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="telefono" formControlName="telefono" required placeholder="Telefono">
                </div>
                
                <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>